{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% translate "Make a Team" %}
{% endblock %}

{% block header %}
{% translate "make a team" %}
{% endblock %}

{% block head_end %}
<style>
  .centered { display: flex; justify-content: center}
</style>
{% endblock %}

{% block body %}
    <div class="centered">
  <form action="{% url 'team_new' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="{% translate 'create' %}" />
  </form>
    </div>
{% endblock %}
