{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% translate "Scavenger Hunt" %}
{% endblock %}

{% block header %}
{% blocktranslate with username=request.user.username %}
welcome, {{ username }}!
{% endblocktranslate %}
{% endblock %}

{% block head_end %}
  <link rel="stylesheet" href="{% static 'core/index.css' %}"/>
{% endblock %}


{% block body %}
    {% if IN_HUNT or FUTURE_HUNT_EXISTS %}
{% if request.user.in_team and IN_HUNT %}
  {% url 'qr_first' as first_url %} {% comment %}todo: add logic to swich text to /current{% endcomment %}
    {% url 'qr_current' as current_url %}
  {% blocktranslate %}
      {{ hunt_name }} has started! go decrypt your <a href="{{ first_url }}">first hint</a>!
  {% endblocktranslate %}
  <br />
  {% if not request.user.team.solo %}
    {% url 'team_invite' as invite_url %}
    {% blocktranslate %}
      or, would you like to <a href="{{ invite_url }}">invite more team members</a>?
    {% endblocktranslate %}
  {% endif %}
{% else %}
  <h3>
  {% if request.user.in_team %}
    {% if request.user.team.solo %}
      {% blocktranslate %}
        you're going solo
      {% endblocktranslate %}
    {% else %}
      {% blocktranslate with team=request.user.team.name %}
        your team: {{ team }}
      {% endblocktranslate %}
    {% endif %}
  {% endif %}
  </h3>
  <ul class="nodot">
    {% if not request.user.in_team or request.user.team.solo %}
      <li>
        <a class="button" href="{% url 'join' %}">{% translate "join a team" %}</a>
      </li>
      <li>
        <a class="button" href="{% url 'team_new' %}">{% translate "make a team" %}</a>
      </li>
    {% endif %}
    {% if not request.user.in_team or not request.user.team.solo %}
      <li>
        <form action="{% url 'team_solo' %}" method="post">
            {% csrf_token %}
            <input class="button button2" type="submit" value="{% translate 'go solo '%}" />
        </form>
      </li>
    {% endif %}
  </ul>
{% endif %}
{% else %}
    <h2>
        {% blocktranslate %}
        no future scavenger hunt is scheduled, please check back later
        {% endblocktranslate %}
    {% endif %}
    </h2>
{% endblock %}
