{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% translate "Create a Team" %}
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'core/team.css' %}"/>
{% endblock %}

<!--
{% block header %}
{% endblock %}
-->

{% block body %}
<div class="team-content">
    <div class="team-heading">
      {% translate "create a team" %}
    </div>
  <form action="{% url 'team_create' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="input-padding">
        <input type="submit" value="✔" />
      </div>
  </form>
</div>
{% endblock %}
