main {
  text-align: center;
}

.buffer {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 2px solid #fff;
  margin-bottom: 2rem;
}

.hint,
.hint-top {
  font-size: 1.8rem;
  text-align: left;
}

.hint-content {
  opacity: 90%;
  font-weight: lighter;
  font-size: 1.5rem;
}

.text-container{
    margin: auto;
    width: 50%;

  padding-left: 2em;
  padding-right: 2em;
}

.padding {
  flex-grow: 1;
}

.logic {
  font-size: 2rem
}
.logic span {
  font-size: 1rem;
}
.container {
  display: grid;
  place-items: center;
}

.separator {
  border: 1.5px solid white;
}
