:root {
  --size: 1.2rem;
  /* colours from OKSolar */
  --bg: #f1e9d2;
  --fg: #093946;
  --link: #2b90d8;
  --linkv: #7d80d1;
}

@media (prefers-color-scheme: dark) {
  /* colours from OKSolar */
  --bg: #093946;
  --fg: #fbf7ef;
}

body {
  margin: 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: var(--size);
  color: var(--fg);
  background: var(--bg);
  height: 100%;
  display: flex;
  flex-direction: column;
}

main, header {
  margin: 8px;
}

header > h1 {
  font-size: 2rem;
  margin: 0;
}

main {
  flex-grow: 1;
}

body > nav {
  padding: 4px;
}

#countdown-header {
  text-align: center;
}

#countdown.soon-very1 {
  color: #ac8300;
}

#countdown.soon-very2 {
  color: #d56500;
}

#countdown.soon-very3 {
  color: #f23749;
}

.spacer {
  float: right;
}

.fakea {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: var(--size);
  color: var(--link);
  text-decoration: underline;
  cursor: pointer;
}
a {
  color: var(--link);
}
a:visited {
  color: var(--linkv);
}

.messages {
  list-style: none;
  padding: 1rem;
.}

.imgicon {
  height: 3rem;
.}

.qrcode {
  padding: 1rem;
}

.qrcode > img {
  margin: auto;
}

.logic_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.logic_container > li {
  flex: 1 100%;
  text-align: center;
  display: block;
  font-size: 1.17em;
  margin: 1em 0;
  font-weight: bold;
}
