:root {
  --size: 1.4rem;
  --bg: #D93B3B;
  --fg: #eeeeee;
  --link: hsl(220deg 100% 90%);
  --linkv: hsl(260deg 100% 90%);
  --accent: #FFAAAA;
  --cd-bg: #8A3131;
  --cd-txt: #DCC1C1;
  /* #fc5656 */
}

@media (prefers-color-scheme: dark) {
  /* colours from OKSolar */
  --bg: #093946;
  --fg: #fbf7ef;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: var(--size);
  color: var(--fg);
  background: var(--bg);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main, header {
  margin: 8px;
  font-weight: 700;
}

h1 {
  margin: 0 0 1rem 0;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.6rem;
  font-weight: 400;
}

ul {
  margin: 0.5rem;
  padding: 0.5rem;
}

main {
  text-align: center;
}

body > nav {
  padding: 4px;
}

#countdown-header {
  text-align: center;
}

#countdown.soon-very1 {
  color: #ac8300;
}

#countdown.soon-very2 {
  color: #d56500;
}

#countdown.soon-very3 {
  color: #f23749;
}

.cd_container {
  width: calc(100vw - 2 * 1rem);
  padding: 1rem;
  color: var(--cd-txt);
  background: var(--cd-bg);

}

.spacer {
  float: right;
}

.fakea {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: 'Work Sans', sans-serif;
  font-size: var(--size);
  color: var(--link);
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: var(--link);
}

a:visited {
  color: var(--linkv);
}

.messages, .nodot {
  list-style: none;
  padding: 1rem;
  margin: 0.5rem;
.}

.imgicon {
  height: 3rem;
.}

.qrcode {
  padding: 1rem;
}

.qrcode > img {
  margin: auto;
}

.logic_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}


.logic_container > li {
  flex: 1 100%;
  text-align: center;
  font-size: 1.17em;
  margin: 1em 0;
  display: list-item;
  list-style-position: inside;


}
.logic_container > li::before {
        content: "\A";
        white-space: pre;
}

.button {
  background: var(--fg);
  transition: 0.3s;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: var(--size);
  font-family: 'Work Sans', sans-serif;
  font-weight: inherit;
  color: #943131 !important;
  /* TODO: match design font weight */
  text-decoration: none;
}

.button:hover {
  background: hsl(0deg 100% 90%);;
}

.button:active {
  background: hsl(0deg 100% 75%);;
}

#main-header {
  position: fixed;
  bottom: 0;
  background: var(--accent);
}

.main-header {
  width: calc(100vw - 2 * 1rem);
  padding: 1rem;
  color: #111;

  display: flex;
  justify-content: space-between;
  align-items: center
}

#main-header i {
  padding: 0.2rem;
  font-size: 1.5rem;
  color: #000;
}

#main-header a:not(.noicon) { /* TODO: was :contains() supported? */
  text-decoration: none;
}

#main-header a.noicon {
  color: hsl(0deg 100% 50%);;
}

#main-header a.noicon:hover {
  color: hsl(0deg 100% 30%);;
}

#main-header a.noicon:active {
  color: hsl(0deg 100% 25%);;
}

.identity {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.identity > .team-name {
  font-weight: 700;
}

.identity > .username {
  font-weight: 400;
}

form {
  display: flex;
}

form * {
  margin: 5px;
  padding: 5px;
}

input {
  background: inherit;
  border: 2px solid #fff;
  color: var(--fg);
  font: inherit;
}

input:placeholder {
  color: #ccc;
}

.icon-alt {
  /* from https://webaim.org/techniques/css/invisiblecontent/ */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

pre {
  white-space: pre-wrap;
}
