main {
  text-align: center;
}

.buffer {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 2px solid #fff;
  margin-bottom: 2rem;
}

.hint {
  opacity: 90%;
}

.hint,
.hint-top {
  font-size: 1.8rem;
  text-align: center;
}

.padding {
  flex-grow: 1;
}

.logic {
  font-size: 2rem
}
.container {
  display: grid;
  place-items: center;
}
