{% load static %}
{% load i18n %}
{% load base %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'core/base.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400&display=swap" rel="stylesheet">
        {% if CUTOFF_BEFORE %}
          <script type="module">
            const e = document.getElementById("cutoff")
	    const cutoff = {{ CUTOFF.timestamp }} * 1000
            const intervalId = setInterval(() => {
              const d = (cutoff - Date.now()) / 1000
              if (d < 0) {
                document.getElementById("cutoff-header").remove()
                clearInterval(intervalId)
              }
              const hour = Math.round(d / 3600)
              const minute = Math.round(d / 60 % 60)
              const second = Math.round(d % 60)
	      const day = Math.round(d % (3600*24) / (3600*24))
	      let s = ''
	      if (day == 1) s += '1 day, '
	      else if (day == 0);
	      else s += `${day} days, `
	      s += ('0' + hour).slice(-2) + ':'
	      s += ('0' + minute).slice(-2) + ':'
	      s += ('0' + second).slice(-2)
              e.innerText = s 
            }, 1000)
          </script>
        {% endif %}
        {% block head_end %}{% endblock %}
    </head>
    <body>
        <!-- GENDO START CommonHeader -->

<div id="common-header">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
    #common-nav {
      background: #073763;
    }
    #common-nav-inner {
      margin: auto;
      max-width: 900px;
      font-size: 1rem;
      font-family: 'Zen Kaku Gothic New', sans-serif;
      color: #d0d0d0;
      padding: 4px;
    }
    #common-nav-inner a {
      color: #d0d0d0;
      text-decoration: none;
      padding-right: 10px;
    }
    #common-nav-inner a:hover {
      text-decoration: underline;
    }
    #common-nav-inner .this {
      color: #adadad;
    }
  </style>
  <nav id="common-nav">
    <div id="common-nav-inner">
      <a href="https://maclyonsden.com" style="color: #fff;">
        <img src="https://maclyonsden.com/static/core/img/themes/logos/dark-transparent.png" style="height: 27px; display: inline; vertical-align: middle;" alt="Metropolis logo" />
        Metropolis
      </a>
      
      
        <a href="https://doodle.maclyonsden.com">Doodles</a>
      
      <span class="this">
        Scavenger Hunt (2022)
      </span>
    </div>
  </nav>
</div>
<!-- GENDO END CommonHeader -->
    {% if CUTOFF_BEFORE %}
      <nav id="cutoff-header">
        Hunt starts in: <span id="cutoff">
          {{ CUTOFF_UNTIL|format_time }}
        </span>
      </nav>
    {% endif %}
    <nav id="main-header">
      Scavenger Hunt
      {% if request.user.is_staff %}
      <a href="/admin">{% translate "Admin" %}</a>
      {% endif %}
      {% if request.user.team is not None %}
        {% if not request.user.team.solo %}
          Team: {{ request.user.team.name }}
        {% else %}
          Solo
        {% endif %}
      {% endif %}
      <span class="spacer">
        {% if request.user.is_authenticated %}
          Logged in as
          {{ request.user }}
          ({{ request.user.first_name }} {{ request.user.last_name }}).
          おかえり〜！
          <form style="display: inline;" action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            <input class="fakea" type="submit" value="Logout" />
          </form>
        {% else %}
          <a href="{% url 'oauth_login' %}">
            Login
          </a>
        {% endif %}
      </span>
    </nav>
    <header>
      <h1>{% block header %}{% endblock %}</h1>
      {% comment %}TODO: consider merging header and title{% endcomment %}
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                Debug:
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                Info:
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                Success:
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                Warning:
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <img src="{% static 'core/animal_buta_shock.png' %}" class="imgicon" alt="error" />
                Error:
              {% endif %}
              {{ message }}
          </li>
          {% endfor %}
      </ul>
      {% endif %}
    </header>
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
      <span style="display: flex; align-items: center; justify-content: center;">
        <img src="{% static 'core/ojigi_animal_inu.png' %}" style="height: 7rem;" />
        {% translate "This website is under construction. Thank you for testing it out!" %}
      </span>
    </footer>
  </body>
</html>
