{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Credits
{% endblock %}

{% block header %}
credits
{% endblock %}

{% block body %}
project manager: ApocalypseCalculator<br />
programming: nyiyui, JasonLovesDoggo, Jimmy Liu, cheollie, and Misheel Batkhuu<br />
UI/UX design: cheollie<br />
support: <a href="https://maclyonsden.com">project metropolis</a> and SAC<br />
<h2>hints</h2>
<ul class="nodot">
  {% for u in hintsetters %}
    <li>
      <a href="https://maclyonsden.com/user/{{ u.username }}">{{ u.username }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}

