{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Scavenger Hunt
{% endblock %}

{% block head_end %}
    <link rel="stylesheet" href="{% static 'core/index.css' %}"/>
{% endblock %}

{% block body %}
{% if request.user.in_team and not START_BEFORE %}
    Go to your <a href="{% url 'qr_first' %}">first hint</a>.
    {% if not request.user.team.solo %}
      Or <a href="{% url 'team_invite' %}">invite team members</a>.
    {% endif %}
{% else %}
    <ul class="nodot">
        <li>Join a team: either scan your team leader's QR code or click the link</li>
        <li>
            <a class="button" href="{% url 'team_new' %}">{% translate "make a team" %}</a>
        </li>
        <li>
            <form action="{% url 'team_solo' %}" method="post">
                {% csrf_token %}
                <input class="button" type="submit" value="{% translate 'go solo '%}" />
            </form>
        </li>
    </ul>
{% endif %}
{% endblock %}
