{% extends "core/base.html" %}
{% load i18n %}

{% block title %}
Index
{% endblock %}

{% block body %}
{% if not request.user.is_authenticated %}
    Please <a href="{% url 'oauth_login' %}">login</a>.
{% else %}
    {% if request.user.team is not None %}
        <ul>
            <li>Join a team: either scan your team leader's QR code or click the link</li>
            <li><a href="{% url 'team_new' %}">Make a team</a></li>
            <li><form action="{% url 'team_solo' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="{% translate 'Go solo '%}" />
            </form></li>
        </ul>
    {% else %}
        TODO: go to first hint
    {% endif %}
{% endif %}
{% endblock %}
