{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% load qr %}
{% load md %}

{% block title %}
    {% comment %} TODO: Create a progress bar (or some percentage indicator) {% endcomment %}
    {% translate "Hint" %}
{% endblock %}

{% block head_end %}
    <link rel="stylesheet" href="{% static 'core/qr.css' %}"/>
    {% if current %}
        <script type="module">
            const src = new EventSource("{% url 'qr_signal' %}")
            src.onopen = (e) => console.log('signal opened')
            src.onerror = console.error
            src.onmessage = (e) => {
                console.log('msg', e)
            }
            // src.onmessage = (e) => location.reload()
            setInterval(() => console.log(src.readyState), 1000)
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="text-container">
    {% if not first %}
        <div>
            {% translate "your team found:" %} <br />
            {% hint qr request.user.team as hint %}
	    <span class="hint">{{ hint |mistune }}</span>
            {% if request.user.is_superuser %}
	    <br />({{ qr }} <a class="link" href="{% url 'admin:core_qrcode_change' object_id=qr.id %}">{% translate "change" %}</a>)
            {% endif %}
        </div>
    {% endif %}
    <div class="hint">
        <div class="hint-top">
            {% if nextqr %}
                {% if first %}
                    {% translate "your first hint is:" %} <br />
                {% else %}
                    {% translate "your next hint is:" %} <br />
                {% endif %}
            {% else %}
                {% comment %} TODO: some cool colourful heart {% endcomment %}
            {% endif %}
        </div>
        {% if nextqr %}
            {% hint nextqr request.user.team as hint %}
	    <span class="hint">{{ hint |mistune }}</span>
            {% if request.user.is_superuser %}
                <br />({{ nextqr }} <a class="link" href="{% url 'admin:core_qrcode_change' object_id=nextqr.id %}">change</a>)
            {% endif %}

            {% if logic_hint %}
                <div class="logic">
                    <p style="font-size: 1.5rem">Logic Hint:</p>
                    <p>{{ logic_hint }}</p>
                    <p style="font-size: 1.3rem">you can view all of your logic hints <a href={% url 'logic_clues' %}>here</a> </p>
                </div>
            {% endif %}
        {% else %}
            {% translate 'Oh ho? What lieth there? Tis the light at the end of the tunnel! <br /> Congratulations valiant scavenger and thank you for playing!' %}
        {% endif %}
    </div></div>

{% endblock %}
