{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% load qr %}

{% block title %}
{% comment %} TODO: Create a progress bar (or some percentage indicator) {% endcomment %}
Hint
{% endblock %}

{% block head_end %}
    <link rel="stylesheet" href="{% static 'core/qr.css' %}" />
{% endblock %}

{% block body %}
    <div class="buffer">
        {% if not first %}
            You got the hint: {% hint qr request.user.team %}
        {% endif %}
    </div>
    <div class="padding"></div>
    <div class="hint">
        <div class="hint-top">
            {% if nextqr %}
                {% if first %}
                    Your first hint is:
                {% else %}
                    Your next hint is:
                {% endif %}
            {% else %}
                <img src="https://www.hanshin.co.jp/h_common/img/taisetsu.svg" alt="rainbow-coloured heart" />
                (TODO: some colourful heart)
            {% endif %}
        </div>
        {% if nextqr and false %}
            {% hint nextqr request.user.team %}
        {% else %}
            Thank you for playing!
        {% endif %}
    </div>
    <div class="padding"></div>
{% endblock %}
