{% extends "core/base.html" %}

{% block title %}
{% comment %} TODO: Create a progress bar (or some percentage indicator) {% endcomment %}
Title of Hint
{% endblock %}

{% block body %}
<div style="display: table; text-align: center; display: flex; align-items: center; flex-direction: column; height: 100%">
    <h1 style="height: 300px; line-height: 300px; display: table-cell; font-family: Georgia; font-size: 96px">
        Hint:
    </h1>
    <h2 style="height: 300px; line-height: 300px; font-family: Trebuchet MS; font-size:64px; vertical-align:middle; height: 100%;">
        {{ hint }}
    </h2>
</div>

{% endblock %}