{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% translate "Make a Team" %}
{% endblock %}

{% block header %}
{% translate "make a team" %}
{% endblock %}

{% block head_end %}
<style>
  input#id_name {
    flex-grow: 1;
    width: 50px;
    display: block;
  }
</style>
{% endblock %}

{% block body %}
  <form action="{% url 'team_new' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="button" type="submit" value="{% translate 'make' %}" />
  </form>
{% endblock %}
