{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% translate "Join a Team" %}
{% endblock %}

{% block header %}
{% translate "join a team" %}
{% endblock %}

{% block body %}
  <h3>{% translate "either enter your team's join code" %}</h3>
  <form action="{% url 'join' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="{% translate 'Join' %}" />
  </form>
  <h3>{% translate "or, scan your team's QR code" %}</h3>
{% endblock %}
