{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% load qr %}

{% block title %}
{% translate "Invite Members" %}
{% endblock %}

{% block header %}
{% translate "invite members" %}
{% endblock %}

{% block head_end %}
  <script src="{% static 'core/qrcode.min.js' %}"></script>
  <script type="module" src="{% static 'core/qr.js' %}"></script>
  <style>
    .qrcode img {
      background: #fff;
      padding: calc(8px * 4); /* eyeballed to 4 modules  */
    }
  </style>
{% endblock %}

{% block body %}
  {% for invite in request.user.team.invites.all %}
    {% join_url invite.code as join_link %}
    {% blocktranslate %}
      you may either
      <input type="button" value="copy the join link" id="share-btn" data-share-text="share the join link" data-join-link="{{ join_link }}" />,
      invite via code (<code>{{ invite.code }}</code>),
      or allow them to scan the QR code below:
    {% endblocktranslate %}
    <div class="qrcode" id="qrcode"></div>
  {% endfor %}
{% endblock %}

